/* Date Display */

.date-display-container {
  text-align: center;
  margin: 20px;
}

.date-picker-input {
  font-size: 16px;
  padding: 5px;
  border: 1px solid #ced4da;
  border-radius: 5px;
}

.selected-date {
  margin-top: 10px;
  font-weight: bold;
}

  
/* Coach Display */
.coach-display-container {
    text-align: center;
    margin: 20px;
  }
  
  .coach-select {
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    background-color: #4a6885;
    width: 80%;
  }
  

  
  .coach-select-dropdown {
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    background-color: #4a6885;
    width: 80%;
    font-size: 16px;
    font-weight: inherit;
    cursor: pointer;
  }
/* Athlete Select */
.athlete-list-container {
  flex-grow: 1;
  padding: 20px;
}

.search-bar {
  text-align: center;
}

.absent-list,
.present-list {
  height: 100%;
  overflow-y: auto;
}

.absent-list h3,
.present-list h3 {
  text-align: center;
}
